@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
 
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }

 button {
  border: none;
  background-color: unset;

 }

 button, a, img, li, span {
  cursor: pointer;
 }

 body {
  font-size: 18px;
 }

 main {
  overflow-x: hidden;
 }

 a {
  text-decoration: none;
 }

 ul {
  list-style: none;
 }